body {
  font-family: "SUSE", sans-serif;
  background: #fff9ee;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/platonic.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  background-position: center;
  max-width: 100%;
  padding: 100px;
}

header h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 1.5;
}

header h2 {
  font-size: 50px;
  line-height: 1.5;
}

header a {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 4px;
  background: white;
  color: black;
  text-decoration: none;
  padding: 12px 24px;
}

main {
  background: white;
}

main h2 {
  line-height: 1.5;
  letter-spacing: 4px;
}

main p {
  line-height: 1.5;
}

main p small {
  opacity: 0.6;
}

.image-responsive {
  width: 100%;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

section.song-section {
  background: #adaeaf;
}

section h2 {
  letter-spacing: normal;
  text-align: center;
}

.embed {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
}

.card {
  background: white;
  margin: 30px;
  line-height: 1.5;
  border-radius: 10px;
}

.card-body {
  padding: 30px;
}

.card p {
  font-size: 13px;
  opacity: 0.7;
}

.button {
  display: block;
  background-color: #fff9ee;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  color: black;
}

.grids {
  display: grid;
  grid-gap: 20px;
}

.two-columns {
  grid-template-columns: 2fr 1fr;
}

.three-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-three-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/gallows.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer p {
  font-size: 13px;
  line-height: 1.5;
}

@media (max-width: 900px) {
  header {
    padding: 60px;
  }
  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 25px;
  }

  header a {
    font-size: 10px;
    padding: 6px 12px;
  }

  section {
    padding: 30px;
  }

  .grids {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
